<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Left side image -->
      <ion-col size="6" class="ion-text-start">
        <img src="assets/img/lngimg.png" style="max-width: 100px;">
      </ion-col>
  
      <ion-col size="1" ></ion-col>
      <!-- Right side select -->
      <ion-col size="5" class="ion-text-end">
        <ion-select class="ionlang" [(ngModel)]="selectedLanguage" interface="popover" (ionChange)="switchLanguage($event.detail.value)">
          <ion-select-option *ngFor="let language of filteredLanguages" [value]="language.name">
            <img [src]="language.flag" alt="{{ language.name }} flag" class="flag-icon" />
            {{ language.origin_name }} ({{ language.name }})
          </ion-select-option>
        </ion-select>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <div class="profile-container">
<!-- Profile Image -->
<div class="profile-image">
  <img [src]="profile.image" />
</div>

<input type="file" (change)="onImageUpload($event)" accept="image/*" />

<ion-item>
  <ion-label position="stacked">Name</ion-label>
  <ion-input [(ngModel)]="profile.name"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input [(ngModel)]="profile.email"></ion-input>
</ion-item>

<ion-button expand="full" (click)="updateProfile()">
  <ion-icon slot="start" name="save-outline"></ion-icon>
  Save Profile
</ion-button>

    
  </div>

      <!-- Buttons -->
    <div class="button-container">
      <ion-button expand="full" (click)="openNotification()">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        {{ 'Notification' | translate }}
        <ion-icon class="arrow" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button expand="full" (click)="openHelpAndSupport()">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        {{ 'Help & Support' | translate }}
        <ion-icon class="arrow" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
      <ion-button expand="full" (click)="signOut()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        {{ 'Sign Out' | translate }}
        <ion-icon class="arrow" slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

</ion-content>
