<ion-toolbar class="black-toolbar">
  <ion-buttons slot="start">
    <ion-back-button class="white-icons" [defaultHref]="defaultBackHref" (ionBack)="goBack()"></ion-back-button>
  </ion-buttons>
 {{ 'Sentences' | translate }}
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">

  
   <h3 class="animated-title"> {{ 'Chapter' | translate }} - {{ chapterno }}</h3>

  <ion-card>
    <ion-card-content>
      <div class="button-group">
        <ion-button>
          <img src="assets/flags/english.png" class="circle-img" alt="Icon 1" />
          <p> {{ sentList[currentIndex] }}</p>
        
        </ion-button>
        <ion-button>
          <img src="assets/flags/german.png" class="circle-img" alt="Icon 2" />
           <p> {{ sentListGerman[currentIndex] }}</p>
        </ion-button>
        <ion-button>
          <audio controls class="audio-player">
            <source src="assets/audio/sample.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
        </ion-button>

        <div class="navigation-icons">
          <ion-icon
            name="chevron-back-outline"
            class="icon"
            (click)="navigate(-1)"
            [class.disabled]="currentIndex === 0"
          ></ion-icon>
          <span class="page-info">{{ currentIndex + 1 }}/{{ sentList.length }}</span>
          <ion-icon
            name="chevron-forward-outline"
            class="icon"
            (click)="navigate(1)"
            [class.disabled]="currentIndex === sentList.length - 1"
          ></ion-icon>
        </div>

      </div>
    </ion-card-content>
  </ion-card>

<!-- 
  <ion-card>
     <div class="page-wrapper" [class.page-turn]="isTurning">
      <ion-card-content>
        <div class="button-group">

          <ion-button>
            <img src="assets/flags/english.png" class="circle-img" alt="English Icon" />
            <p>{{ sentListEnglish[currentIndex] }}</p> 
          </ion-button>
          

          <ion-button>
            <img src="assets/flags/german.png" class="circle-img" alt="German Icon" />
            <p>{{ sentListGerman[currentIndex] }}</p>
          </ion-button>
          
  
          <ion-button>
            <audio controls class="audio-player">
              <source src="assets/audio/sample.mp3" type="audio/mpeg" />
              Your browser does not support the audio element.
            </audio>
          </ion-button>

          <div class="navigation-icons">
            <ion-icon
              name="chevron-back-outline"
              class="icon"
              (click)="navigate(-1)"
              [class.disabled]="currentIndex === 0"
            ></ion-icon>
            <span class="page-info">{{ currentIndex + 1 }}/{{ sentListEnglish.length }}</span>
            <ion-icon
              name="chevron-forward-outline"
              class="icon"
              (click)="navigate(1)"
              [class.disabled]="currentIndex === sentListEnglish.length - 1"
            ></ion-icon>
          </div>
        </div>
      </ion-card-content>
    </div>
</ion-card> -->

  
</ion-content>
