<ion-toolbar class="black-toolbar">
  <ion-buttons slot="start">
    <ion-back-button class="white-icons" defaultHref="/tabs/chapter" (click)="handleBackClick()"></ion-back-button>
  </ion-buttons>
  
  <ion-title>{{ 'Vocabulary' | translate }}</ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="refreshPage()">
      <ion-icon class="white-icons" name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3 class="animated-title"> {{ 'Chapter' | translate }} - {{ chapterno }}</h3>
<ion-card>
  <div class="page-wrapper" [class.page-turn]="isTurning">
    <ion-card-content>
      <div class="button-group">
        <ion-button>
            <img *ngIf="selectedLanguage === 'English'" src="assets/flags/english.png" class="circle-img" alt="English Flag" />
            <img *ngIf="selectedLanguage === 'Arabic'" src="assets/flags/arabic.png" class="circle-img" alt="Arabic Flag" />
            <img *ngIf="selectedLanguage === 'Spanish'" src="assets/flags/spanish.jpg" class="circle-img" alt="Spanish Flag" />
            <img *ngIf="selectedLanguage === 'Persian'" src="assets/flags/iran.png" class="circle-img" alt="Iran Flag" />
            <img *ngIf="selectedLanguage === 'Ukrain'" src="assets/flags/ukrain.png" class="circle-img" alt="Ukrain Flag" />
            <img *ngIf="selectedLanguage === 'Vietnam'" src="assets/flags/vietnam.png" class="circle-img" alt="Vietnam Flag" />
            <img *ngIf="selectedLanguage === 'Albanian'" src="assets/flags/albanian.png" class="circle-img" alt="Albanian Flag" />
            <img *ngIf="selectedLanguage === 'French'" src="assets/flags/french.png" class="circle-img" alt="French Flag" />
            <img *ngIf="selectedLanguage === 'Russian'" src="assets/flags/russian.jpg" class="circle-img" alt="Russian Flag" />
            <img *ngIf="selectedLanguage === 'Chinese'" src="assets/flags/chinese.png" class="circle-img" alt="Chinese Flag" />
            <img *ngIf="selectedLanguage === 'Tuerk'" src="assets/flags/tuerk.png" class="circle-img" alt="Tuerk Flag" />

          {{ vocListUserSelection[currentIndex] }}
        </ion-button>
        <ion-button>
          <img src="assets/flags/germanflag.jpg" class="circle-img" alt="Icon 2" />
            {{ vocListGerman[currentIndex] }}
        </ion-button>

        <ion-button>
            <div *ngIf="currentAudio; else noAudio">
              <!-- <p>Audio {{ currentIndex + 1 }}</p> -->
              <audio id="audioPlayer" controls>
                <source [src]="currentAudio" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
            </div>
          
            <ng-template #noAudio>
              <p>No audio files available.</p>
            </ng-template>
          </ion-button>
          
        
      </div>
      <div class="navigation-icons">
        <ion-icon
          name="chevron-back-outline"
          class="icon"
          (click)="navigate(-1)"
          [class.disabled]="currentIndex === 0"
        ></ion-icon>
        <span class="page-info">{{ currentIndex + 1 }}/{{ vocListGerman.length }}</span>
        <ion-icon
          name="chevron-forward-outline"
          class="icon"
          (click)="navigate(1)"
          [class.disabled]="currentIndex === vocListGerman.length - 1"
        ></ion-icon>
      </div>
    </ion-card-content>
  </div>
</ion-card>
  
  
</ion-content>

