ion-toolbar{
    font-family: League Spartan;
    font-size: 22px;
    font-weight: 700;
  }

  ion-segment {
    border-radius: 10px;
    height: 45px;
  }
  
  .content-container {
    padding: 16px;
    text-align: center;
  }
  
  ion-segment-button {
    --indicator-color: #3880ff;
    --indicator-height: 3px;
    --background:#b8babb;
    text-transform: none;
  }
ion-card{
    --background: #FEF6F6;
    margin-top: 100px;
}
  ion-button {
    display: flex;
    align-items: center;
    --background: #f8f0f0;
    --color: #000;
    --border-radius: 8px;
    margin-bottom: 20px;
    text-transform: none;
  }
  
  .circle-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .navigation-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; /* Space between icons and text */
    margin: 16px 0; /* Space around the navigation section */
  }
  
  .icon {
    font-size: 24px;
    color: #1d1515; /* White icons */
    cursor: pointer;
  }
  
  .page-info {
    font-size: 16px;
    font-weight: bold;
    color: #1b1717; /* White text */
  }
  
  .audio-player {
  width: 100%; /* Adjust width as needed */
  margin: auto;
}

.button-group ion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; /* Space between icon/text and the audio player */
}

