
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Left side image -->
      <ion-col size="6" class="ion-text-start">
        <img src="assets/img/lngimg.png" style="max-width: 100px;">
      </ion-col>
  
      <ion-col size="1" ></ion-col>
      <!-- Right side select -->
      <ion-col size="5" class="ion-text-end">
        <ion-select class="ionlang" [(ngModel)]="selectedLanguage" interface="popover" (ionChange)="switchLanguage($event.detail.value)">
          <ion-select-option *ngFor="let language of filteredLanguages" [value]="language.name">
            <img [src]="language.flag" alt="{{ language.name }} flag" class="flag-icon" />
            {{ language.origin_name }} ({{ language.name }})
          </ion-select-option>
        </ion-select>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <div class="question-header">

  <ion-grid>
      <ion-row>
          <span class="iontitle"> {{ 'Question' | translate }} {{ currentQuestionIndex + 1 }}/{{ totalQuestions }}   </span>
          <ion-icon slot="end" name="close-circle-outline" ></ion-icon> 
     </ion-row>
  </ion-grid>

</div>

<div class="question-option">

  <h4 *ngIf="currentQuestion">{{ currentQuestion.question | translate }}</h4>
  <ion-list *ngIf="currentQuestion">
    <ion-radio-group [(ngModel)]="selectedOption">
      <ion-item *ngFor="let option of currentQuestion.options"
                [ngClass]="{
                  'success': answerChecked && option === currentQuestion.correctAnswer,
                  'danger': answerChecked && option === selectedOption && option !== currentQuestion.correctAnswer
                }">
        <ion-radio slot="start" [value]="option" [disabled]="answerChecked"></ion-radio>
        <ion-label>{{ option }}</ion-label>
        <ion-icon *ngIf="answerChecked && option === currentQuestion.correctAnswer" 
                  slot="end" 
                  name="checkmark-circle-outline" 
                  color="success">
        </ion-icon>
        <ion-icon *ngIf="answerChecked && option === selectedOption && option !== currentQuestion.correctAnswer" 
                  slot="end" 
                  name="close-circle-outline" 
                  color="danger">
        </ion-icon>
      </ion-item>
    </ion-radio-group>
  </ion-list>


  <ion-button 
    class="ansbtncheck" 
    expand="full" 
    shape="round" 
    (click)="checkAns()"
    [disabled]="!selectedOption || answerChecked">
    {{ 'Check Answer' | translate }}
  </ion-button>


  <ion-button 
    *ngIf="answerChecked"
    class="ansbtn" 
    expand="full" 
    shape="round" 
    (click)="nextQ()">
    {{ 'Next Question' | translate }}
  </ion-button>

</div>

</ion-content>
