p{
    text-align: justify;
}

ion-toolbar{
    font-family: League Spartan;
    font-size: 22px;
    font-weight: 700;
}

/* In your SCSS file */
.black-toolbar {
    background-color: black;
    color: black; /* Optional: if you want the text to be white */
  }
  
  .white-icons {
    color: black; /* Ensures the back button icon is white */
  }
  
.animated-title {
  font-weight: bold; /* Makes text bold */
  text-align: center; /* Centers the text */
  font-size: 1.8rem; /* Adjust the size as needed */
  margin: 1rem 0; /* Adds some spacing */
  animation: fadeIn 1s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px); /* Slight upward movement for a smooth fade */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

